#header
  #header__name
    %p
      =current_user.name
    %ul.edit_icons
      %li.pencil
        %div{"data-turbolinks" => "false"}
          = link_to new_group_path do
            = fa_icon 'pencil-square-o', class: 'icon'
      %li.cog
        %div{"data-turbolinks" => "false"}
          = link_to edit_user_path(current_user) do
            = fa_icon 'cog', class: 'icon'
  - if @group.present?
    #header__menu
      %div{"data-turbolinks" => "false"}
        %h1
          = @group.name
        %h2
          - @group.users.each do |user|
            = user.name
        .editbox
          %p
            = link_to "EDIT", edit_group_path(@group)
